@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: inline-block;
  min-width: 200%;
  animation: marquee 10s linear infinite; /* 🔹 10s = fast speed */
  white-space: nowrap;
}


html,
body {
  background-color: white !important;
  color: black;
}
